.portada-wrapper{
    background-color: #242630;
    width: 100%;
    height: 500px;
    padding: 10px; 
    
}
.text-wrapper{
    margin-left:120px;
}

.text-wrapper> .text1{
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    margin-left: 40px;

}

.text-wrapper>.text2{
    color:grey;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    margin-left:40px;
}

.buttons{
    width: 600px;
    display:flex;
    justify-content: space-evenly; 
    margin-left: 10px;
}

.buttons> .forfree{
    background-color: #7ae77a;
    padding: 15px 30px;
    font-size: 2em;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.buttons> .learn-more{
    background-color: #000000;
    color:white;
    padding: 15px 30px;
    font-size: 2em;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.image-wrapper img{
    width: 100%;
    height: 450px;
    box-shadow: -15px -12px 27px -4px rgba(0,0,0,0.63);

    }

.codepen-projects>.text-img{
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    }

.codepen-projects{
    width: 30%;   
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 420px;
    margin-left: 1355px;
}


/*rectangles style*/

.rectangles-wrapper{
    
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.50em;
    display: flex;
    justify-content:center;
    text-align:center;
    
}

.rectangles-wrapper> .teams{
    background-color: #3b3e4b;
    padding: 15px 80px;
    border: 2px solid rgb(150, 149, 149); 
}

.rectangles-wrapper> .education{
    background-color: #3b3e4b;
    padding: 15px 80px;
    border: 2px solid rgb(150, 149, 149); 
}

.rectangles-wrapper> .privacy{
    background-color: #3b3e4b;
    padding: 15px 80px;
    border: 2px solid rgb(150, 149, 149); 
}

.rectangles-wrapper> .writing{
    background-color: #3b3e4b;
    padding: 15px 80px;
    border: 2px solid rgb(150, 149, 149); 
}
